@using LoginComponent
<nav class="grey lighten-3">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo right teal-text lighten-1">
            <img class="center-align" style="height: 62px; width: auto;" src="images/logo.png"/>
        </a>
        <ul id="nav-mobile" class="left">
            <li>
                <NavLink Match="NavLinkMatch.All" ActiveClass="disabled" class="waves-effect waves-light btn" href="">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Home

                </NavLink>
            </li>
            <AuthorizeView>
                <li>
                    <NavLink ActiveClass="disabled" class="waves-effect waves-light btn" href="AdultList">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Adults

                    </NavLink>
                </li>
            </AuthorizeView>
            <AuthorizeView>
                <li>
                    <NavLink ActiveClass="disabled" class="waves-effect waves-light btn" href="AddAdult">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Add Adult
                    </NavLink>
                </li>
            </AuthorizeView>
        </ul>
        <div>
            <Login/>
        </div>
    </div>
</nav>